/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/
@import url("https://use.typekit.net/qyx3avk.css");
@import url("https://use.typekit.net/qyx3avk.css");
/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

@import url('make-something-fly.css');
@import url('animated-gradient.css');
@import url('text-stroke.css');
@import url('stroke-shadow.css');
@import url('scroll-to-top.css');
@import url('project-page-colors.css');
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/temp/up-cursor.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: #222;
  --holding-page-title-color: #ebedf0;
  --accent-color: #fdf0d5F;
  --overlay-color: #cf8652;
  --hyperlink-color: #17404e;
  --hyperlink-alternate-color: #f1f1f1;
  --hover-color: #111;
  --body-typeface: "acumin-variable", sans-serif;
  --heading-typeface: "p22-mackinac-pro", serif;
  --project-title-typeface: "p22-mackinac-pro", serif;
  --project-title-color: #17404e;
  --heart-color: darkred;
  --off-white: #f8f8ff;
  --isabelline: #f4f0ec;
  --baby-powder: #fefefa;
  --alice-blue: #f0f8ff;
  --alabaster: #f2f0e6;
  --floral-white: #fffaf0;
  --background-color: #f1f1f1;
  --alt-background-color: black;
  --text-selection-background-color: #555;
}


body {
  font-family: "acumin-variable";
  color: #013148;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background: var(--accent-color);
}

/* Making all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */

}



/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2.5rem;
  font-family: "p22-mackinac-pro", serif;
  line-height: 60px;
  margin-bottom: 1rem;
  color: #669bbc;
  font-style: normal;
  font-weight: 800;
}

.hero-headline {
  color: #17404e;
  font-size: 1.25rem;
  font-family: "p22-mackinac-pro", serif;
  font-weight: 400;
  letter-spacing: 0.063rem;
}

.hero-headline2 {
  color: #17404e;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: -0.063rem;
  font-family: "p22-mackinac-pro", serif;
}

.hero-headline3 {
  color: #17404e;
  font-size: 1.1rem;
}

.project-title {
  font-size: 2rem;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
}

.subheading {
  font-family: "p22-mackinac-pro", serif;
  font-size: 1.8rem;
  color: #cf8652;
  font-style: normal;
  font-weight: 600;
}

.subheading-2 {
  font-family: "p22-mackinac-pro", serif;
  font-size: 1.25rem;
  color: #cf8652;
  font-style: oblique;
  font-weight: 400;

}

.overlay-title {
  font-size: 1.5rem;
  color: #17404e;
  font-family: "p22-mackinac-pro", serif;
  text-align: center;
}

.overlay-description {
  font-size: 1rem;

}

h2 {
  font-size: 2rem;
  font-family: "acumin-variable", sans-serif;
  font-style: oblique;
  margin-bottom: 1rem;
  color: #17404e;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  line-height: 1.3;
}

h4 {
  color: var(--baby-powder);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--hyperlink-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #555555;
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

a.colored-link,
a.alternate-hyperlink {
  color: var(--hyperlink-alternate-color);
}


.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;

}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.fineprint {
  font-size: .875rem;
}

.heart {
  color: var(--heart-color);
}

.footer-nav-item {
  line-height: 1.3;
  font-family: "acumin-variable", sans-serif;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;

}





/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  /* background: rgb(238, 174, 202);
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%); */
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #d3ab52;
  font-family: "p22-mackinac-pro", serif;

}

.logo {
  width: 3rem;

}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #d3ab52;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* This part isn't required */

.projects {
  background: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: .25rem
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  background: blueviolet;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}
.project-body {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  text-align:justify;
}
.subheading {
  font-family: "p22-mackinac-pro", serif;
  font-size: 1.8rem;
  color: #cf8652;
  font-style: normal;
  font-weight: 600;
}
.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: #cf8652;
  transition: opacity .3s, visibility .3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: .8;
}




/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  background: #f5f5f5;
  padding: 1rem;
  flex: 1;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.about-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/


.global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  min-height: 50vh;
  background: #d3ab52;
  padding: 1rem;

}


.footer-heading {
  color: #17404e;
  font-family: "p22-mackinac-pro", serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: .7rem;
  margin-bottom: .3rem;
  font-style: italic;
}

.footer-body {
  color: #f1f1f1;
  font-family: "acumin-variable", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;


}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.footer-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.awards-list {
  margin-bottom: 2rem;
}
.project-body {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  text-align:justify;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}



/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
}





/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: #f1f1f1;

}


.holding-page-animation {
  width: 10rem;
  margin: 0 auto;
  margin-bottom: 2rem;

}

.holding-page-title {
  font-size: 3rem;
  color: #d3ab52;
  letter-spacing: 0.1em;
  letter-spacing: 2px;
}

.holding-page-quote {
  font-size: 2rem;
  color: #17404e;
  letter-spacing: 0.1em;
  letter-spacing: 2px;
}

.holding-page-subheading {
  font-size: 2rem;
  color: #17404e;
  letter-spacing: 0.1em;
  letter-spacing: 2px;
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: .8rem;
  color: var(--off-white);
  margin-bottom: 0;
}



/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/



.error-page {
  display: grid;
  place-items: center;
}

.error-page-wrapper {}

.error-page-inner-container {
  text-align: center;
}

.error-page-title {
  color: var(--accent-color);
}


/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/


.experiments-page {
  display: grid;
  place-items: center;
  background: black;
}

.experiments-page-wrapper {}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiments-text {
  color: var(--alice-blue);
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.sub-navigation-item {}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  background: var(--accent-color);
  color: var(--floral-white);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

#heyday-logo-blue,
#eye {
  animation: rotation 9s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .hero-headline {
    color: #17404e;
    font-size: 1.5rem;
    font-family: "p22-mackinac-pro", serif;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  .hero-headline2 {
    color: #17404e;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: -0.063rem;
    font-family: "p22-mackinac-pro", serif;

  }

  .hero-headline3 {
    color: #17404e;
    font-size: 1.4rem;
  }
  .project-title{
    font-size: 2.5rem;
  }
  .project-body {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    text-align:justify;
  }
  .subheading {
    font-family: "p22-mackinac-pro", serif;
    font-size: 2rem;
    color: #cf8652;
    font-style: normal;
    font-weight: 600;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {


  .holding-page-title {
    font-size: 2rem;
  }

  h1 {
    font-size: 4.275rem;
    line-height: 60px;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .logo {
    width: 5rem;
  }

  .hero {
    min-height: 100vh;
  }

  .hero-headline-wrapper {
    padding: 4rem 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
    background: yellow;
  }

  .overlay-title {
    font-size: 1.8rem;
    color: #17404e;
    font-family: "p22-mackinac-pro", serif;
    text-align: center;
  }

  .overlay-description {
    font-size: 1rem;
  }

  .project-body {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  .project-title{
    font-size: 1.5rem;
  }
 
  .subheading {
    font-family: "p22-mackinac-pro", serif;
    font-size: 1.2rem;
    color: #cf8652;
    font-style: normal;
    font-weight: 600;
  }

  .hero-headline {
    color: #17404e;
    font-size: 1.5rem;
    font-family: "p22-mackinac-pro", serif;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  .hero-headline2 {
    color: #17404e;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -0.063rem;
    font-family: "p22-mackinac-pro", serif;

  }

  .hero-headline3 {
    color: #17404e;
    font-size: 1.6rem;
  }



  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a img {
    filter: grayscale(100);
  }

  .work-page-grid-item>a:active img,
  .work-page-grid-item>a:hover img {
    filter: grayscale(0);
  }

  .about {
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .global-footer {
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .about-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .footer-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .about-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 0.5rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;

  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    /* height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh; */
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image {}

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }


}


/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */


/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    background: pink;

  }

  .overlay-title {
    font-size: 2rem;
    color: #17404e;
    font-family: "p22-mackinac-pro", serif;
    text-align: center;
  }

  .overlay-description {
    font-size: 1.5rem;

  }

  .hero-headline {
    color: #17404e;
    font-size: 1.5rem;
    font-family: "p22-mackinac-pro", serif;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  .hero-headline2 {
    color: #17404e;
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: -0.063rem;
    font-family: "p22-mackinac-pro", serif;

  }

  .hero-headline3 {
    color: #17404e;
    font-size: 2rem;
  }
  .project-body {
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    text-align:justify;
  }
  .project-title{
    font-size: 2rem;
  }
 
  .subheading {
    font-family: "p22-mackinac-pro", serif;
    font-size: 1.8rem;
    color: #cf8652;
    font-style: normal;
    font-weight: 600;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    background: red;

  }

  .hero-headline {
    color: #17404e;
    font-size: 1.5rem;
    font-family: "p22-mackinac-pro", serif;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  .hero-headline2 {
    color: #17404e;
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: -0.063rem;
    font-family: "p22-mackinac-pro", serif;

  }

  .hero-headline3 {
    color: #17404e;
    font-size: 2.3rem;
  }
  .project-body {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .project-title{
    font-size: 2rem;
  }
 
  .subheading {
    font-family: "p22-mackinac-pro", serif;
    font-size: 1.8rem;
    color: #cf8652;
    font-style: normal;
    font-weight: 600;
  }


}


/* XXX-Large devices (large desktops, 1500px and up)*/

@media (min-width: 1500px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    background: greenyellow;

  }

  .hero-headline {
    color: #17404e;
    font-size: 1.5rem;
    font-family: "p22-mackinac-pro", serif;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  .hero-headline2 {
    color: #17404e;
    font-size: 12rem;
    font-weight: 400;
    letter-spacing: -0.063rem;
    font-family: "p22-mackinac-pro", serif;

  }

  .hero-headline3 {
    color: #17404e;
    font-size: 2.7rem;
  }
  .project-body {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .project-title{
    font-size: 2rem;
  }
 
  .subheading {
    font-family: "p22-mackinac-pro", serif;
    font-size: 1.8rem;
    color: #cf8652;
    font-style: normal;
    font-weight: 600;
  }
}